@use '../../../../core/tokens' as *;

.todayHeader {
  background-color: $color-today-bg;
}

.sundayHeader {
  background-color: $color-sunday-bg;
}

.saturdayHeader {
  background-color: $color-saturday-bg;
}

.sundayCol {
  background-color: $color-sunday-bg;
}

.saturdayCol {
  background-color: $color-saturday-bg;
}
