@use '../../tokens' as *;

.passwordValidation {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-1 $spacing-3;

  &__rule {
    font-size: $font-size-xs;
    transition: color $transition-duration-150 $transition-ease-in-out;

    &--pending {
      color: $color-gray-400;
    }

    &--passed {
      color: $color-success-600;
    }
  }
}
