@use '../../../../core/tokens' as *;

.todayHeader {
  background-color: $color-today-bg;
  border-color: $color-today-border;
}

.sundayHeader {
  background-color: $color-sunday-bg;
}

.saturdayHeader {
  background-color: $color-saturday-bg;
}
